ion-card {
    background-color: rgba(206, 118, 223, 0.5);
    /* Fondo semitransparente */
    backdrop-filter: blur(5px);
    /* Opcional: agrega un efecto de desenfoque detrás */
    box-shadow: none;
    border-radius: 5%;
    margin: 10% auto;
    width: 100%;
    min-height: 400px; /*Agrega un largo mínimo */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

.login-container img {
    width: 60%;
}

ion-header,
ion-toolbar {
    --background: transparent !important;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

/* Cambiar color de los íconos del toolbar (menú y back button) */
ion-toolbar ion-buttons ion-menu-button,
ion-toolbar ion-buttons ion-back-button {
    --color: #000000;
    /* Negro */
    color: #000000;
    /* Asegura compatibilidad */
}

/* Opcional: color del título */
ion-title {
    color: #000000;
    /* Negro */
    font-weight: bold;
}

ion-card ion-input {
    --background: transparent;
    /* Fondo transparente */
    color: rgb(10, 1, 5);
    /* Color de texto oscuro */
}

ion-card input {
    background-color: transparent;
    /* Fondo transparente para navegadores que no usan variables CSS */
    color: rgb(1, 9, 1);
    /* Color de texto en naranja oscuro */
}


ion-card ion-label {
    --background: transparent;/* Fondo transparente */
    color: #130901; /* Color de texto oscuro */
}

ion-card label {
    background-color: tranparent; /* Fondo transparente para navegadores que no usan variables CSS */
    color: #080301; /* Color de texto oscuro */
}


ion-card ion-item {
    --background: transparent;/* Fondo transparente */
    color: #0a0501; /* Color de texto  oscuro */
}

ion-card ion-button.login-button {
    --background: #100701;/* Fondo oscuro */
    color: rgb(11, 0, 0); /* Texto en para buen contraste */
}


ion-card ion-select {
    --background: transparent; /* Fondo transparente */
    color: rgb(9, 0, 11); /* Color de texto  */
}

ion-card select {
    background-color: transparent;/* Fondo transparente para navegadores que no usan variables CSS */
    color: rgb(1, 16, 1); /* Color de texto  */
}

mat-form-field {
    background-color: transparent; /* Fondo transparente para el campo del formulario */
}

mat-form-field .mat-form-field-flex {
    background-color: transparent; /* Fondo transparente para el contenedor del input */
}

mat-form-field .mat-form-field-infix {
    background-color: transparent; /* Fondo transparente en el área del input */
}


mat-datepicker-toggle {
    background-color: transparent; /* Fondo transparente para el selector de fecha */
}

ion-card ion-button {
    --background: #100443; /* Fondo en naranja oscuro */
    color: rgb(240, 231, 231);/* Texto en blanco para buen contraste */
    padding: 10px;
}

.center-title {
    margin: 0 auto;
    text-align: center;
}

/* Días y números del calendario */
.mat-calendar-body-cell-content {
    color: #2d0f2d !important;
    /* Texto oscuro */
}

