<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>not-found</ion-title>
  </ion-toolbar>
</ion-header>

<div class="user-info">
  <img src="../../assets/img/error.png" alt="Error 404" class="user-avatar" />
</div>

<ion-content class="padded" [fullscreen]="true">
  <span class="not-found-text">Error: Página no encontrada</span>
  <span class="not-found-sub">Lo sentimos — la página que buscas no existe o fue movida.</span>

 <!--- <ion-button class="btn-back" (click)="volverlogin()">Volver al inicio</ion-button>
</ion-content>-->