<ion-app>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button (click)="goToHome()">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>

        <!--registro-->
        <ion-item routerLink="/registro" routerDirection="root">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          <ion-label>Mi perfil</ion-label>
        </ion-item>

        <!-- producto -->
        <ion-item routerLink="/tab " routerDirection="root">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          <ion-label>Producto</ion-label>
        </ion-item>


        <!--pago-->
        <ion-item routerLink="/pago" routerDirection="root">
          <ion-icon name="card-outline" slot="start"></ion-icon>
          <ion-label>Pago por compra</ion-label>
        </ion-item>

        <!--cierre sesion-->
        <ion-item routerLink="/cerrarSesion" routerDirection="root">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cierre sesión</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
