#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.user-info h2 {
  font-size: 2em;
  color: rgba(110, 5, 5, 0.8); /* color texto  */
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h2 {
  text-align: left;
  font-size: 1.5em;
  color: #111110;
}
/* Borar la linea y matener registro - menu <- en negro  */
ion-header,
ion-toolbar {
  --background: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

/* Cambiar color de los íconos del toolbar (menú y back button) */
ion-toolbar ion-buttons ion-menu-button,
ion-toolbar ion-buttons ion-back-button {
  --color: #000000;
  /* Negro */
  color: #000000;
  /* Asegura compatibilidad */
}

/* Opcional: color del título */
ion-title {
  color: #000000;
  /* Negro */
  font-weight: bold;
}


ion-toolbar {
  --background: #f8f4ef;
  --color: #4a3f35;
  border: none;
}

ion-header::after {
  background: transparent !important;
  box-shadow: none !important;
}

ion-card {
  background-color: rgba(60, 127, 136, 0.5);
  /* Opcional: agrega un efecto de desenfoque detrás */
  box-shadow: none;
  border-radius: 5%;
  margin: 10% auto;
  width: 80%;
  color: floralwhite;
}
