


/*Estilo general para tarjetas (matCard)*/
mat-card {
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border: 2xp solid #007bff; /*borde*/
  background-color: rgb(130, 238, 218); /*color de fondo*/
  color:#333;
}


mat-card-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #0f172a;
  text-transform: uppercase;/* Mayúsculas */
  letter-spacing: 0.5px;/* Espacio entre letras */
  margin-bottom: 4px;
}

.libro-contenedor {
  display: flex;
  justify-content: space-between;/* Texto a la izquierda, imagen a la derecha */
  align-items: center;
  gap: 16px;
}

.libro-info {
  flex: 1;/* Ocupa todo el espacio disponible */
  text-align: left;
}

.libro-imagen-container {
  flex-shrink: 0;/* Evita que la imagen se reduzca */
}

.libro-imagen {
  float: rigth;/* coloca la imagen a la derecha */
  width: 100px;/*ajusta tamaño*/
  height: auto;
  margin-left: 0px;/* espacio entre texto e imagen */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;/* Centra todo horizontalmente */
  gap: 10px;/* Espacio entre la imagen y el texto */
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Hace la imagen circular */
}

