#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/*Estilo genral para tarjetas (matCard)*/
mat-card {
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border: 2xp solid #007bff; /*borde*/
  background-color: rgb(130, 238, 218); /*color de fondo*/
  color:#333;
}

mat-card {
  font-weight: bold;
  font-size: 1.2rem;
}

mat-card {
  margin: 0.2rem 0;
}